body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

header {
    background-color: #469673;
    color: white;
    padding: 20px;
    text-align: center;
}

#postSection {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
}

input[type="file"], input[type="text"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

textarea {
    height: 100px;
}

button {
    background-color: #9e3e69;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.post {
    margin-bottom: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    text-align: center; /* Center the content inside .post */
}

.post img {
    width: 30%; /* Set image width to 50% of the container */
    height: auto; /* Maintain the aspect ratio */
    object-fit: cover; /* Ensure image fits without distortion */
    border-radius: 4px;
    margin: 0 auto; /* Center the image horizontally */
}

.post-actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.comment-box {
    margin-top: 10px;
}

.comment-box textarea {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
